* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}


.inicio {

    position: relative;

    height: 100vh;
    background: url("main.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 10px;


}

.inicio .contenido {
    max-width: 600px;
    color: #fff;
}

.contenido h2 {
    font-size: 3em;
    letter-spacing: .03em;
}

.contenido p {
    margin: 10px 0 40px;
}

.contenido a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
}

.inicio .login {
    position: relative;
    width: 304px;
}

.login h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.login .cajalog {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.cajalog input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
    color: #fff;
    padding: 0 0 0 10px;


}

.cajalog label {
    position: absolute;
    font-size: 1em;
    top: -24px;
    left: 17px;
    color: #fff;
    pointer-events: none;


}

.login .olvido {
    margin: -25px 0 15px;
    display: flex;
    justify-content: flex-end;
}

.olvido a {
    color: #fff;
    text-decoration: none;
}

.olvido a:hover {
    text-decoration: underline;
}

.login .btnlogin {
    width: 104%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #231f1f;
    font-weight: 500;

}

@media only screen and (max-width: 700px) {
    .inicio .login {
        max-width: 350px;

    }

    .inicio {

        flex-direction: column;
        justify-content: space-around;


    }

    .contenido {
        text-align: center;
    }
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("main.jpg") no-repeat;
    background-size: cover;
    background-position: center;


}
.error{
   background-color: rgb(248, 37, 37);
   border-radius: 5px;
   padding: 2px;
   color: #e4e4e4;
}

.success{
   background-color: green;
   border-radius: 5px;
   padding: 2px;
   color: #e4e4e4;
}


.box{
    position: relative;
}



.container{
    position: relative;
    
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.form{
   position: relative;
   width: 100%;
   height: 100%;
   padding: 15px;
}

.form h2{
   position: relative;
   color: #fff;
   font-size: 24px;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 40px;
}

.form h2::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: -10px;
   width: 80px;
   height: 4px;
   background: #fff;
}

.form .inputBox
{
   width: 100%;
   text-align: center;
   margin-top: 20px;
}

.form .inputBox input
{
   width: 86%;
   background: rgba(255,255,255,0.2);
   border: none;
   outline: none;
   padding: 10px 20px;
   border-radius: 35px;
   border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.form .inputBox input::placeholder{
   color: #fff;
}

.form .inputBox input[type="submit"]{
   background: #fff;
   color: #666;
   max-width: 200px;
   cursor: pointer;
   margin-bottom: 20px;
   font-weight: 600px;

}
.form .inputBox input[type="submit"]:hover{
   background: #000000;    
   transition: 0.5s;
   color: #fff;

}
.forget{
   margin-top: 5px;
   color: #fff;
}
.forget a{
color: #fff;
font-weight: 600;
}
